{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <style>
        #phone-code{
            position: relative;
            left: 10px;
            top: 64px;
            margin: 0 !important;
            padding-right: 10px !important;
            background-color: white;
            border-right: 1px solid #5d5d5d;
        }
        .register{
            background:url('/images/backgrounds/register.jpg');
            background-position:center;
        }
        .register-container{
            background:rgba(255,255,255,0.9);
        }
        .register-btn{
            background:rgba(36,36,36,0.9)
        }
        input{
            border:1px solid rgba(112,112,112,0.9) !important;
        }
        #phone-number{
            padding-left: 70px;
        }
        select{
            border:1px solid rgba(112,112,112,0.9) !important;
        }
    </style>
    <div class="d-flex justify-content-center register">
        <div class="col-8 col-md-6 col-lg-3 px-5 register-container my-5 py-5">
            {{ form_start(registrationForm) }}  
                {{form_row(registrationForm.civility)}}
                {{ form_row(registrationForm.firstname)}}
                {{ form_row(registrationForm.lastname)}}
                <div class="form-group">
                    {{ form_label(registrationForm.email,)}}
                    {{ form_errors(registrationForm.email)}}
                    {% if alert_error_email is defined %}
                        {{ form_widget(registrationForm.email)}}    
                        <div class="invalid-feedback d-block">{{alert_error_email}}</div>
                    {% else %}
                        {{ form_widget(registrationForm.email)}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_label(registrationForm.emailConfirmation)}}
                    {{ form_errors(registrationForm.emailConfirmation)}}
                    {% if alert_error_email is defined %}
                        {{ form_widget(registrationForm.emailConfirmation)}}    
                        <div class="invalid-feedback d-block">{{alert_error_email}}</div>
                    {% else %}
                        {{ form_widget(registrationForm.emailConfirmation)}}
                    {% endif %}
                </div>
                {{ form_row(registrationForm.address)}}
                {{ form_row(registrationForm.postal_code)}}
                {{ form_row(registrationForm.city)}}
                {{ form_row(registrationForm.country)}}
                <span id="phone-code" class="text-center"></span>
                <div class="mb-3">
                    <label for="phone-number" class="form-label required">Numéro de téléphone</label>
                    <input type="text" id="phone-number" name="phone-number" required="required" class="form-control">        
                </div>
                <div style="display:none;">{{ form_row(registrationForm.phone)}}</div>
                <div>
                    {{ form_label(registrationForm.plainPassword)}}
                    {{ form_errors(registrationForm.plainPassword)}}
                    {% if alert_error_password is defined %}
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control is-invalid'}})}}
                        <div class="invalid-feedback d-block">{{alert_error_password}}</div>
                    {% else %}
                        {{ form_widget(registrationForm.plainPassword)}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_label(registrationForm.confirmPassword)}}
                    {{ form_errors(registrationForm.confirmPassword)}}
                    {% if alert_error_password is defined %}
                        {{ form_widget(registrationForm.confirmPassword, {'attr': {'class': 'form-control is-invalid'}})}}    
                        <div class="invalid-feedback d-block">{{alert_error_password}}</div>
                    {% else %}
                        {{ form_widget(registrationForm.confirmPassword)}}
                    {% endif %}
                </div>

                <div class="my-3">
                    <div class="mb-2">
                        <input  type="checkbox"><a href="#"  class="ms-2 text-dark">Recevoir les actualités</a></input>
                    </div>
                    <div>
                        <input type="checkbox"><a href="#" class="ms-2 text-dark">J'accepte les conditions générale de vente</a></input>
                    </div>
                </div>

                <div class="text-center">
                {{ form_widget(registrationForm.submit, {'attr': {'class': 'register-btn text-white btn py-2 px-3'}})}}
                </div>
                <div class="text-center">
                    <small>
                        Vous avez déjà un compte ? 
                        <a href="{{ path('login') }}" class="text-decoration-none text-dark"> Connectez-vous </a>
                    </small>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>

    <script>
    $(document).ready(function(){
        const country_code= {
            "Autriche":	43,
            "Belgique":	32,
            "Bulgarie":	359,
            "Croatie": 385,	
            "Chypre": 357,
            "République Tchèque": 420,
            "Danemark":	45,
            "Estonie": 372,	
            "Finlande":	358,	
            "France": 33,	
            "Gibraltar": 350,	
            "Allemagne": 49,	
            "Grèce": 30,	
            "Hongrie": 36,
            "Islande": 354,	
            "Irlande": 353,	
            "Italie": 39,	
            "Lettonie":	371,	
            "Liechtenstein": 423,	
            "Lituanie":	370,	
            "Luxembourg": 352,
            "Malte":	356,
            "Pays-Bas":	31,
            "Norvège":	47,
            "Pologne":	48,
            "Portugal":	351	,
            "Roumanie":	40,
            "Slovaquie": 421,
            "Slovénie":	386,	
            "Espagne":	34,
            "Suède":	46,
            "Royaume-Uni":	44
        }

        if(typeof country_code[''] !== 'undefined'){
            $('#phone-code').html("+"+country_code[$('#registration_form_country').val()]);
        }   

        $('#phone-number').change(() => {
            let newVal = '+'+country_code[$('#registration_form_country').val()]+''+$('#phone-number').val();
            $('#registration_form_phone').val(newVal);
         });

        $('#registration_form_country').change(() => {
            $('#phone-code').html("+"+country_code[$('#registration_form_country').val()]);
        });
        
    })  
</script>
{% endblock %}
