{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
<main class="container d-flex flex-column justify-content-center mt-4">
    <h1>Réservation</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Maison</th>
                <th>Nombre de voyageurs</th>
                <th>Date d'entrée</th>
                <th>Date de sortie</th>
                <th>Nombre de nuit</th>
                <th>Prix</th>
                <th>Afficher</th>
                
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations|sort((a, b) => b.createdAt <=> a.createdAt) %}
            <tr>
                <td><a href="{{ path('app_house_show', {'id': reservation.house.id}) }}">{{ reservation.house.name }}<a></td>
                <td>{{ reservation.nbrVoyagers }}</td>
                <td>{{ reservation.startDate ? reservation.startDate|date('d-m-Y') : '' }}</td>
                <td>{{ reservation.endDate ? reservation.endDate|date('d-m-Y') : '' }}</td>
                <td>{{ reservation.nbrNights }} </td>
                <td>{{ reservation.total }} (€)</td>
                <td><a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">Afficher<a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucune réservation trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
