{% extends 'base.html.twig' %}

{% block title %}Atypik Home{% endblock %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="/raty-master/lib/jquery.raty.css">
    <link rel="stylesheet" type="text/css" href="/css/house/index.css"/>
    <div id="index-search-form">
        <div class="container index-search-container">  
            <h1 class="text-center text-white mb-5">Découvrez les meilleurs hébergements insolites</h1>
            {{ form_start(search_form,{'action':'/house/search'}) }}
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{form_widget(search_form.address,{'attr': {'placeholder': 'Destination'}})}}
                    </div>

                    <div class="col-md-2 mb-3">
                        {{form_widget(search_form.type)}}
                    </div>

                    <div id="date-picker-search" class="row col-md-4 mb-3">
                        <div class="col-6">
                            <input id="reservation_start_date" name="start_date" autoComplete="off" class="form-control" placeholder="Arrivée" />
                        </div>
                        <div class="col-6 pe-0">
                            <input id="reservation_end_date" name="end_date" autoComplete="off" class="form-control w-100" placeholder="Départ"/>
                        </div>
                        <div class="date-picker-container ps-0" style="position:absolute;  z-index: 3;"></div>
                        <div style="display:none;">
                            {{form_row(search_form.nbr_voyagers)}}
                        </div>         
                    </div>

                    <div class="col-md-2 mb-3">
                        <div class="dropdown w-100 me-3" id="myDropdown">
                            <a class="btn btn-white border dropdown-toggle bg-white w-100" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" aria-expanded="true">
                                Nombre de voyageurs
                            </a>
                            <div id="nbr-voygeurs-ad-kid" class="dropdown-menu text-center w-100" aria-labelledby="dropdownMenuLink" >
                                <p>Adulte(s)à(12 et +)</p>
                                <img class="less img-fluid" data-id="1" src="/font/minus.svg" width="25px" height="25px">
                                <span id="adults" class="px-3">1</span>
                                <img class="more img-fluid" data-id="1" src="/font/plus.svg" width="25px" height="25px">
                                <p>Enfants (- de 12)</p>
                                <img class="less img-fluid" data-id="2" src="/font/minus.svg" width="25px" height="25px">
                                <span id="kids" class="px-3">0</span>
                                <img class="more img-fluid" data-id="2" src="/font/plus.svg" width="25px" height="25px">
                            </div>
                        </div>
                    </div>
                    
                    <div >
                        <input type="hidden" id="search_lat" name="search_lat"/>
                        <input type="hidden" id="search_lng" name="search_lng"/>
                    </div>

                    <div class="d-flex">
                        <button  class="btn search-btn mx-auto py-3 px-4">{{ button_label|default('Rechercher un atypik home') }}</button>
                    </div>
                </div>
            {{ form_end(search_form) }}
        </div>
    </div>

    <div id="proxi-houses-container">
        <div class="container py-3" >
            <div id="proxi-houses" class="d-flex mx-auto justify-content-center col-8 my-5 py-3">
                <h1 class="text-center"> Les autres hébergements à proximité </h1>
            </div>
            <div class="row my-5 proxi-screen">
                <div class="col-4">
                    <div class="village d-flex mb-4">
                        <div class="dest-text mt-auto w-100 py-3 d-flex align-items-center">
                            <p class="mb-0 mx-auto">Séjour atypique en France</p>
                        </div>
                    </div>
                    <div class="pont d-flex">
                        <div class="dest-text mt-auto w-100 py-3 d-flex align-items-center">
                            <p class="mb-0 mx-auto">Séjour à moins de 2H de Lyon</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="europe d-flex mb-4">
                        <div class="dest-text mt-auto w-100 py-3 d-flex align-items-center">
                            <p class="mb-0 mx-auto">Séjour atypique en Europe</p>
                        </div>
                    </div>
                    <div class="flowers d-flex mb-4">
                        <div class="dest-text mt-auto w-100 py-3 d-flex align-items-center">
                            <p class="mb-0 mx-auto">Séjour à moins de 2H de Paris</p>
                        </div>
                    </div>
                    <div class="windmills d-flex">
                        <div class="dest-text mt-auto w-100 py-3 d-flex align-items-center">
                            <p class="mb-0 mx-auto">Séjour atypique en Espagne</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="annecy d-flex mb-4">
                        <div class="dest-text mt-auto w-100 py-3 d-flex align-items-center">
                            <p class="mb-0 mx-auto">Séjour insolite Auvergne Rhoône Alpes</p>
                        </div>
                    </div>
                    <div class="sea d-flex">
                        <div class="dest-text mt-auto w-100 py-3 d-flex align-items-center">
                            <p class="mb-0 mx-auto">Séjour au bord de la Méditeranée</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row my-5 proxi-mobile">
                <div class="col-6 mb-4">
                    <div class="village d-flex mb-4">
                        <div class="dest-text mt-auto w-100 py-3 d-flex align-items-center">
                            <p class="mb-0 mx-auto">Séjour atypique en France</p>
                        </div>
                    </div>
                    <div class="pont d-flex mb-4">
                        <div class="dest-text mt-auto w-100 py-3 d-flex align-items-center">
                            <p class="mb-0 mx-auto">Séjour à moins de 2H de Lyon</p>
                        </div>
                    </div>
                    <div class="sea d-flex mb-4">
                        <div class="dest-text mt-auto w-100 py-3 d-flex align-items-center">
                            <p class="mb-0 mx-auto">Séjour au bord de la Méditeranée</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="europe d-flex mb-4">
                        <div class="dest-text mt-auto w-100 py-3 d-flex align-items-center">
                            <p class="mb-0 mx-auto">Séjour atypique en Europe</p>
                        </div>
                    </div>
                    <div class="flowers d-flex mb-4">
                        <div class="dest-text mt-auto w-100 py-3 d-flex align-items-center">
                            <p class="mb-0 mx-auto">Séjour à moins de 2H de Paris</p>
                        </div>
                    </div>
                    <div class="windmills d-flex mb-4">
                        <div class="dest-text mt-auto w-100 py-3 d-flex align-items-center">
                            <p class="mb-0 mx-auto">Séjour atypique en Espagne</p>
                        </div>
                    </div>
                </div>
                    
                </div>
            </div>
            

            <div id="discover-houses" class="col-4 text-center d-flex mx-auto justify-content-center mx">
                <p class="text-white btn py-3 mb-0"> Découvrir d'autres destination </p>
            </div>
            
        </div>
    </div>
    
    <div id="comment-container" class="py-5">
        <h1 class="text-center mb-5">Ils parlent de leur séjour...</h1>
    
        <div class="multiple-items container py-5 my-5">
            {% for comment in comments %}
                <div class="text-center">
                    <div class="d-flex justify-content-center">
                        {% if comment.guest.avatar is not null %}
                            <img class="user-avatar" src="\images\users\{{comment.guest.avatar}}"/>
                        {% else %} 
                            <img class="user-avatar" src="\images\users\default.png"/> 
                        {% endif %}
                    </div>
                    <p>{{comment.guest.firstname|capitalize}} .{{comment.guest.firstname|first|upper}}</p>
                    <p>{{comment.message}}</p>
                    <div class="d-flex justify-content-center rating-comment" data-note="{{comment.note}}" data-id="{{comment.id}}"></div>
                </div>
            {% endfor %}
        </div>

    </div>
    <div id="atypik-presentation">
        <div class="container py-5">
            <div class="mb-5 text-center d-flex mx-auto justify-content-center mx">
                <h1  id="atypik-home" class="py-3 px-5"> Atypik Home</h1>
            </div>
            <div class="text-center mb-5 d-flex mx-auto justify-content-center mx">
                <p id="slogan" class="text-white py-3 px-5"> Une reservation simple, en toute confiance. </p>
            </div>
            <div id="atypik-disc" class="py-5">
                <div class="text-center">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit.
                </div>
            </div>
        </div>
    </div>
    <div>
        <img id="banniere" src="/vdo/banniere.gif" width="100%" height="auto">
        <img id="banniere_mobile" src="/vdo/bannierem.gif" width="100%" height="auto">
    </div>

    <style>
        
    </style>
    <script>
        $(document).ready(function(){

            $(".rating-comment").each(function(e) {
                let score = parseFloat($($(this)).data('note'));
                let id=$(this).data('id');
                $(".rating-comment[data-id='"+id+"']").raty({
                    starOff:'/raty-master/lib/images/star-off.png',
                    starOn:'/raty-master/lib/images/star-on.png',
                    starHalf:'/raty-master/lib/images/star-half.png',
                    half: true,
                    readOnly: true, 
                    score: score
                });
            })

            $('.multiple-items').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                nextArrow: "<img class='nextArrowBtn' width='25px' height='25px'  src='/font/angle-right-solid.svg' >",
                prevArrow: "<img class='prevArrowBtn' width='25px' height='25px' src='/font/angle-left-solid.svg' >",
                responsive:[
                {
                breakpoint: 768,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        nextArrow: "<img class='nextArrowBtn' width='25px' height='25px'  src='/font/angle-right-solid.svg' >",
                        prevArrow: "<img class='prevArrowBtn' width='25px' height='25px' src='/font/angle-left-solid.svg' >",
                    }
                }]
            });
            
            $('.less').click(function (){
                let id = $(this).data('id');
                
                if (id==1){
                    valueA = $('#adults').html();
                    if(valueA >1){
                    valueA--;
                    $('#adults').html(valueA);
                    }
                }  else if (id==2){
                    value = $('#kids').html();
                    if(value >0){
                    value--;
                    $('#kids').html(value);
                    }
                }
            });

            $('.more').click(function (){
                let id = $(this).data('id');
                if (id==1){
                    valueA = $('#adults').html();
                    valueA++;
                    $('#adults').html(valueA);
                } else if (id==2){
                    value = $('#kids').html();
                    value++;
                    $('#kids').html(value);
                }
            });

            var myDropdown = document.getElementById('myDropdown')
            myDropdown.addEventListener('hide.bs.dropdown', function () {
                total = parseInt($('#kids').html())+parseInt($('#adults').html());
                $('#reservation_nbr_voyagers').val(total);
                $('#dropdownMenuLink').html($('#adults').html()+' adulte(s) '+$('#kids').html()+' enfant(s)' )
            });

            $('.search-btn').click(function(e){
                e.preventDefault();

                lat = $('#search_lat').val();
                lng = $('#search_lng').val();
                start_date = $('#reservation_start_date').val();
                end_date = $('#reservation_end_date').val();
                nbr_voyagers =  parseInt($('#kids').html())+ parseInt($('#adults').html());
                type= $('#search_house_type').val();

                if(lat && lng && start_date && end_date && nbr_voyagers){
                   const dataPrimary = {lat:lat ,lng:lng , start_date:start_date, end_date:end_date ,nbr_voyagers:nbr_voyagers, type:type};

                    const currentUrl = window.location.origin;
                    $.ajax({
                        url: currentUrl+'/search-primary',
                        data: dataPrimary,
                        method:'post'
                    })
                    .done(function(res){

                        const houseIdList = [];

                        res.forEach(function(house){
                            const currentHouseData = {lat:parseFloat(house.lat), lng:parseFloat(house.lng), id:house.id};
                            const center = {lat: parseFloat(dataPrimary['lat']), lng: parseFloat(dataPrimary['lng'])};
                            if(checkGoogleZone(currentHouseData, center) == true){
                                houseIdList.push(currentHouseData.id);
                            }
                        });

                        const ids = houseIdList.join(',');

                        window.location.href =  currentUrl+'/search-index?ids='+ids;
                    })
                    .fail(function(res){

                    });
                }else{
                    console.log('ko')
                }
                
                
            });

            function checkGoogleZone(currentHouseData,center){
                
                //Initialisation du périmètre de recherche
                const cityCircle = new google.maps.Circle({
                    center: center,
                    radius: 20000, 
                });
                
                position = new google.maps.LatLng({lat: currentHouseData.lat, lng: currentHouseData.lng});
               
                //comparaison entre la distance entre le centre du périmètre et le diamètre
                if(google.maps.geometry.spherical.computeDistanceBetween(position, center) <= 20000){
                    return true;
                }
                else{
                    return false;
                }   
            }
        })
    </script>
    <script src="/raty-master/lib/jquery.raty.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock %}
