{% if success is defined %}
    <div>{{success}}</div>
{% endif %}

{% if alert is defined %}
    <div>{{alert}}</div>
{% endif %}

<input id="disabled-date" type="hidden" data-dates="{{to_disable | json_encode}}" />

{{include("house/_calendar.html.twig")}}


    {% if events is not empty %}
        {% for event in events %}
            <div class="row mb-3 bg-white">
                <div class="col-4 py-2">
                    Du  {{ event.startAt  | format_date( locale='fr') }}
                    au: {{ event.endAt | format_date( locale='fr')  }}
                </div>
                <div class="col-4 py-2">
                    {% set difference = date(event.endAt).diff(date(event.startAt)) %}
                    {% set leftDays = difference.days %}
                    {% if leftDays == 1 %}
                        1 nuit
                    {% else %}
                        {{ leftDays }} nuités disponible
                    {% endif %}
                </div>
                <div class="col-4 py-2">
                    Annler la disponibilité  <a class="ms-2 btn remove-range border" data-id="{{event.id}}"><img src="/font/xmark.svg" height="15" width="15"></a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="bg-white my-5">
            <p class="py-4 px-3">Aucune disponibilité trouvée</p>
        </div>
    {% endif %}


<script>
    $(document).ready(function(){
        $('.remove-range').each(function(){
            const id = $(this).data('id');

            $('.remove-range[data-id="'+id+'"]').click(function(e){
                e.preventDefault();
                
                let id = $(this).data('id');
                const data = {house_id: $("#house-id").val()};

                const currentUrl = window.location.origin;
                
                $.ajax({
                    url: currentUrl+'/event/'+id+'/delete',
                    data: data,
                    method: 'post'
                }).done(function(response){
                    $('#events-table').html(response);
                }).fail(function(response){
                    $('#events-table').html(response);
                });
            });
        });
       
    });
</script>