{{ form_start(form) }}
    
    {% if house.id is not null %}
        <div class="col-6 house-dispo-m mx-auto mb-2">
            <a class="btn btn-edit-dispo text-white w-100" href="{{path('app_house_edit_dispo',{'id':house.id})}}">Gérer le planing de disponibilité</a>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-8">
            {{ form_row(form.full_address)}}
            <div class="row">
                <div class="col-6">{{ form_row(form.street_number)}}</div>
                <div class="col-6">{{ form_row(form.street_label)}}</div>
            </div>
        </div>
        {% if house.id is not null %}
            <div class="col-4 house-dispo">
                <a class="btn btn-edit-dispo text-white py-3 w-100 px-3" href="{{path('app_house_edit_dispo',{'id':house.id})}}">Gérer le planing de disponibilité</a>
            </div>
        {% else %}
            <div class="col-4"></div>
        {% endif %}
        <div class="col-md-4 col-8">{{ form_row(form.postal_code)}}</div>
        <div class="col-4">{{ form_row(form.city_name)}}</div>
        <div class="col-4">{{ form_row(form.country)}}</div>
        <div class="col-8">{{ form_row(form.name)}}</div>
        <div class="col-4">{{ form_row(form.price)}}</div>
        <div class="col-6">{{ form_row(form.nbr_accepted)}}</div>
        <div class="col-6">{{ form_row(form.nbr_beds)}}</div>
        <div class="col-6">{{ form_row(form.nbr_rooms)}}</div>
        <div class="col-6">{{ form_row(form.house_area)}}</div>
    </div>
    {{ form_row(form.description)}}
    
    <div class ="row">
        <div class="col-4">
            {{ form_row(form.nbr_wc)}}
        </div>
        <div id="house_wc_type" class="col-8">
            <div class="form-check form-check-inline col-6">
                <input type="radio" id="house_wc_type_0" name="house[wc_type]" required="required" class="form-check-input" value="WC dans le logement">
                <label class="form-check-label required" for="house_wc_type_0">WC dans le logement</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" id="house_wc_type_1" name="house[wc_type]" required="required" class="form-check-input" value="WC, hors du logement">
                <label class="form-check-label required" for="house_wc_type_1">WC, hors du logement</label>
            </div>
        </div>
        
    </div>

    <div class ="row">
        <div class="col-4">
            {{ form_row(form.nbr_showeroom)}}
        </div>
        <div id="house_shower_room_type" class="col-8">
            <div class="form-check form-check-inline col-6">
                <input type="radio" id="house_shower_room_type_0" name="house[shower_room_type]" required="required" class="form-check-input" value="SDB dans le logement">
                <label class="form-check-label required" for="house_shower_room_type_0">SDB dans le logement</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" id="house_shower_room_type_1" name="house[shower_room_type]" required="required" class="form-check-input" value="SDB, hors du logement">
                <label class="form-check-label required" for="house_shower_room_type_1">SDB, hors du logement</label>
            </div>
        </div>
    </div>

   

    <div class="my-3">
        <legend class="h3">Logement avec cuisine</legend>
        <div id="house_equiments" class="row ms-1">
            <div class="row">
                {% for child in form.equiments.children %}
                    <div class="col-4 my-2">
                        <label class="expanded" for="{{ child.vars.id }}">
                            {{ form_widget(child)}}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
               
    </div>

    <div class="my-3">
        <legend class="h3">Extérieur</legend>
        <div id="house_outside" class="row ms-1">
            <div class="row">
                {% for child in form.outside.children %}
                    <div class="col-4 my-2">
                        <label class="expanded" for="{{ child.vars.id }}">
                            {{ form_widget(child)}}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="my-3">
        <legend>Confort</legend>
        <div id="house_confort" class="row ms-1">
            <div class="row">
                {% for child in form.confort.children %}
                    <div class="col-4 my-2">
                        <label class="expanded" for="{{ child.vars.id }}">
                            {{ form_widget(child)}}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">{{ form_row(form.arrival_time)}}</div>
        <div class="col-4">{{ form_row(form.arrival_time_max)}}</div>
        <div class="col-4">{{ form_row(form.departure_time)}}</div>
        <div class="col-4">{{ form_row(form.guarantee)}}</div>
        <div class="col-4">{{ form_row(form.breakfast_dispo)}}</div>
        <div class="col-4"></div>
    </div>
    
    <div class="strong_points_container p-3">
        <legend>Point fort en évidence (max 5)</legend>
            <div id="house_strong_points" class="row ms-1">
                <div class="row count-check">
                    {% for child in form.strong_points.children %}
                        <div class="col-4 my-2">
                            <label class="expanded" for="{{ child.vars.id }}">
                                {{ form_widget(child)}}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
    </div>
    
    <div class="form-group">
        {{ form_label(form.type) }}
        <div class="row">
            {% for child in form.type.children %}
                <div class="col-4 my-2">
                    <label class="expanded" for="{{ child.vars.id }}">
                        {{ form_widget(child)}}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
    
    
    
    {{ form_row(form.images)}}
    {{ form_row(form.lat)}}
    {{ form_row(form.lng)}}

    
    <div class="to_hide_new_house">
        {{ form_row(form.street_sub_number)}}
        {{form_row(form.wc_type)}}
        {{form_row(form.shower_room_type)}}
    </div>

    <input type="hidden" name="delete_attach" id="delete-attach"/>
    <div id="images mb-4">
        {{ include('house/_edit_images.html.twig')}}
    </div>
    <div class="d-flex my-4">
        <button class="btn btn-save mx-auto text-white">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}

<script>
$(document).ready(function(){
    $('input.strong_points').on('change', function(){
        const checkedNbr= $('input.strong_points[type="checkbox"]:checked').length;
        if(checkedNbr>5){
            this.checked=false;
        }
    })
});

</script>