
<style>
    #house_wc_type, #house_shower_room_type{
        position:relative;
        top:38px;
        margin:0;
    }
    .to_hide_new_house{
        display:none;
    }
</style>
{{ form_start(form) }}
    {{ form_row(form.name)}}
    {{ form_row(form.full_address)}}
    {{ form_row(form.street_number)}}
    {{ form_row(form.street_sub_number)}}
    {{ form_row(form.street_label)}}
    {{ form_row(form.city_name)}}
    {{ form_row(form.postal_code)}}
    {{ form_row(form.country)}}
    {{ form_row(form.type)}}
    {{ form_row(form.nbr_accepted)}}
    {{ form_row(form.nbr_beds)}}
    {{ form_row(form.nbr_rooms)}}

    <div class ="row">
        <div class="col-4">
            {{ form_row(form.nbr_wc)}}
        </div>
        <div id="house_wc_type" class="col-8">
            <div class="form-check form-check-inline col-6">
                <input type="radio" id="house_wc_type_0" name="house[wc_type]" required="required" class="form-check-input" value="WC dans le logement">
                <label class="form-check-label required" for="house_wc_type_0">WC dans le logement</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" id="house_wc_type_1" name="house[wc_type]" required="required" class="form-check-input" value="WC, hors du logement">
                <label class="form-check-label required" for="house_wc_type_1">WC, hors du logement</label>
            </div>
        </div>
        
    </div>

    <div class ="row">
        <div class="col-4">
            {{ form_row(form.nbr_showeroom)}}
        </div>
        <div id="house_shower_room_type" class="col-8">
            <div class="form-check form-check-inline col-6">
                <input type="radio" id="house_shower_room_type_0" name="house[shower_room_type]" required="required" class="form-check-input" value="SDB dans le logement">
                <label class="form-check-label required" for="house_shower_room_type_0">SDB dans le logement</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" id="house_shower_room_type_1" name="house[shower_room_type]" required="required" class="form-check-input" value="SDB, hors du logement">
                <label class="form-check-label required" for="house_shower_room_type_1">SDB, hors du logement</label>
            </div>
        </div>
    </div>

    {{ form_row(form.description)}}
    {{ form_row(form.price)}}

    <div>
        <legend class="h3">Logement avec cuisine</legend>
        <div id="house_equiments" class="row ms-1">
            <div class="form-check col-4">
                <input type="checkbox" id="house_equiments_0" name="house[equiments][]" class="form-check-input" value="Four">
                <label class="form-check-label" for="house_equiments_0">Four</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_equiments_1" name="house[equiments][]" class="form-check-input" value="Plaque de cuission">
                <label class="form-check-label" for="house_equiments_1">Plaque de cuission</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_equiments_2" name="house[equiments][]" class="form-check-input" value="Micro onde">
                <label class="form-check-label" for="house_equiments_2">Micro onde</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_equiments_3" name="house[equiments][]" class="form-check-input" value="Réfrigérateur">
                <label class="form-check-label" for="house_equiments_3">Réfrigérateur</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_equiments_4" name="house[equiments][]" class="form-check-input" value="Cafetiere">
                <label class="form-check-label" for="house_equiments_4">Cafetiere</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_equiments_5" name="house[equiments][]" class="form-check-input" value="Bouilloire">
                <label class="form-check-label" for="house_equiments_5">Bouilloire</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_equiments_6" name="house[equiments][]" class="form-check-input" value="Table et chaise">
                <label class="form-check-label" for="house_equiments_6">Table et chaise</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_equiments_7" name="house[equiments][]" class="form-check-input" value="Lave vaisselle">
                <label class="form-check-label" for="house_equiments_7">Lave vaisselle</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_equiments_8" name="house[equiments][]" class="form-check-input" value="Vaisselle">
                <label class="form-check-label" for="house_equiments_8">Vaisselle</label>
            </div>
        </div>
               
    </div>

    <div>
        <legend class="h3">Extérieur</legend>
        <div id="house_outside" class="row ms-1">
            <div class="form-check col-4">
                <input type="checkbox" id="house_outside_0" name="house[outside][]" class="form-check-input" value="0">
                <label class="form-check-label" for="house_outside_0">Terrasse</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_outside_1" name="house[outside][]" class="form-check-input" value="1">
                <label class="form-check-label" for="house_outside_1">Barbecue</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_outside_2" name="house[outside][]" class="form-check-input" value="2">
                <label class="form-check-label" for="house_outside_2">Balcon</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_outside_3" name="house[outside][]" class="form-check-input" value="3">
                <label class="form-check-label" for="house_outside_3">Mobilier de jardin</label>
            </div>
                <div class="form-check col-4"><input type="checkbox" id="house_outside_4" name="house[outside][]" class="form-check-input" value="4">
                <label class="form-check-label" for="house_outside_4">Chaise longues</label>
            </div>
        </div>
    </div>

    <div>
        <legend>Confort</legend>
        <div id="house_confort" class="row ms-1">
            <div class="form-check col-4">
                <input type="checkbox" id="house_confort_0" name="house[confort][]" class="form-check-input" value="Piscine partagé">        
                <label class="form-check-label" for="house_confort_0">Piscine partagé</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_confort_1" name="house[confort][]" class="form-check-input" value="Piscine privative">
                <label class="form-check-label" for="house_confort_1">Piscine privative</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_confort_2" name="house[confort][]" class="form-check-input" value="Spa partagé">
                <label class="form-check-label" for="house_confort_2">Spa partagé</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_confort_3" name="house[confort][]" class="form-check-input" value="Spa privatif">
                <label class="form-check-label" for="house_confort_3">Spa privatif</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_confort_4" name="house[confort][]" class="form-check-input" value="Sauna">
                <label class="form-check-label" for="house_confort_4">Sauna</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_confort_5" name="house[confort][]" class="form-check-input" value="Air conditionné">
                <label class="form-check-label" for="house_confort_5">Air conditionné</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_confort_6" name="house[confort][]" class="form-check-input" value="Wifi">
                <label class="form-check-label" for="house_confort_6">Wifi</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_confort_7" name="house[confort][]" class="form-check-input" value="TV">
                <label class="form-check-label" for="house_confort_7">TV</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_confort_8" name="house[confort][]" class="form-check-input" value="Chauffage">
                <label class="form-check-label" for="house_confort_8">Chauffage</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_confort_9" name="house[confort][]" class="form-check-input" value="Lit bébé">
                <label class="form-check-label" for="house_confort_9">Lit bébé</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_confort_10" name="house[confort][]" class="form-check-input" value="Chaise bébé">
                <label class="form-check-label" for="house_confort_10">Chaise bébé</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_confort_11" name="house[confort][]" class="form-check-input" value="Douche">
                <label class="form-check-label" for="house_confort_11">Douche</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_confort_12" name="house[confort][]" class="form-check-input" value="Baignoire">
                <label class="form-check-label" for="house_confort_12">Baignoire</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_confort_13" name="house[confort][]" class="form-check-input" value="Serviette fournis">
                <label class="form-check-label" for="house_confort_13">Serviette fournis</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_confort_14" name="house[confort][]" class="form-check-input" value="Lave linges">
                <label class="form-check-label" for="house_confort_14">Lave linges</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_confort_15" name="house[confort][]" class="form-check-input" value="Linge de lit">
                <label class="form-check-label" for="house_confort_15">Linge de lit</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_confort_16" name="house[confort][]" class="form-check-input" value="Linge de lit non fournis">
                <label class="form-check-label" for="house_confort_16">Linge de lit non fournis</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_confort_17" name="house[confort][]" class="form-check-input" value="Aspirateur">
                <label class="form-check-label" for="house_confort_17">Aspirateur</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_confort_18" name="house[confort][]" class="form-check-input" value="Parking en supplément">
                <label class="form-check-label" for="house_confort_18">Parking gratuit</label>
            </div>
            <div class="form-check col-4">
                <input type="checkbox" id="house_confort_19" name="house[confort][]" class="form-check-input" value="Air de jeux">
                <label class="form-check-label" for="house_confort_19">Air de jeux</label>
            </div>
        </div>
    </div>

    {{ form_row(form.images)}}
    {{ form_row(form.lat)}}
    {{ form_row(form.lng)}}
    
    <div class="to_hide_new_house">
        {{form_row(form.equiments)}}
        {{form_row(form.wc_type)}}
        {{form_row(form.shower_room_type)}}
        {{form_row(form.confort)}} 
        {{form_row(form.outside)}}
    </div>
    <input type="hidden" name="delete_attach" id="delete-attach"/>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

