{% if houses is defined%}
    <p>{{ houses.getTotalItemCount }} hébergements trouvés</p>
   
    {% for id in page_ids %}
        <input type="hidden" class="page-id-input" name="ids[]" value="{{id}}" />
    {% endfor %}
    <input type="hidden" id="pg" name="page" value="{{page}}" />

    
    {% for house in houses %}
        <div class="row house-card my-3 p-3" data-id="{{house.id}}">
            <div class="col-md-3" style="height : 248px">
                {% if house.attachments is not empty %}
                    <div class="images-carousel">
                        {% for image in house.attachments %}
                                <img src="/images/houses/{{image.url}}" class="bbb" height="248px" class="carousel-cell" />
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="d-flex">
                        <img src="/images/houses/default.jpg" class="img-fluid" height="248px" class="mx-auto"/>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-5">
                <h3 class="fw-bold">{{house.name}}</h3>
                <small>{{house.cityName}}</small>
                <p>{{house.description}}</p>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-center">
                <p class="rating-comment text-center" data-note="{{ house.note }}">Commentaire</p>
                <div class="mt-auto d-flex flex-column mx-3">
                    <small class="ms-auto">à partir de </small>
                    <p class="ms-auto fw-bold">{{house.price}} € la nuit</p>
                    <a class="btn rent-btn" href="{{ path('app_house_show', {'id': house.id}) }}">Découvrir</a>
                </div>
                
            </div>

            <div class="for_map" data-id="{{house.id}}">
                <div class="price-pop">{{ house.price }}</div>
                <input type="hidden" class="pos" data-pos="lat" value="{{house.lat}}" />
                <input type="hidden" class="pos" data-pos="lng" value="{{house.lng}}" />
            </div>
        </div>
    {% endfor %}
    <div class="d-flex">
        <div class="navigation ms-auto">
            {{ knp_pagination_render(houses) }}  
        </div>
    </div>
    
    
{% else %}
    <p>Aucun résultat trouvé</p>
{% endif %}

<script>
       
    $(document).ready(function(){

         $('.images-carousel').slick({
            nextArrow: "<img class='nextArrowBtnImg' width='25px' height='25px'  src='/font/angle-right-solid.svg' >",
            prevArrow: "<img class='prevArrowBtnImg' width='25px' height='25px' src='/font/angle-left-solid.svg' >"
        });

        const sortByPrice=[];
        $('.sort-price').click(function(){
            $('.page-id-input').each(function(){
                sortByPrice.push($(this).val());
            })
            let page = $(this).find('a').html();
            data={ids:sortByPrice, page: page}
            const currentUrl = window.location.origin;
            $.ajax({
                url: currentUrl+'/house/sort',
                data: data,
                method:'post'
            }).
            done(function(res){
                $('#houses-list').html(res);
            }).
            fail(function(res){
                
            });
        })

        $('.pagination span').click(function(e){
            e.preventDefault();
            e.stopPropagation();
            
            let page_ids = [];
            $('.page-id-input').each((i,obj) => {
                page_ids.push($(obj).val());
            });


            let page = $(this).find('a').html();

            const data = { ids: page_ids, page: page};

            const currentUrl = window.location.origin;

            $.ajax({
                url: currentUrl+'/search-render',
                data: data,
                method:'post'
            }).
            done(function(res){
                searchCenter=({lat: parseFloat($('#search_lat').val()) , lng: parseFloat($('#search_lng').val()) });
                $('#houses-list').html(res);
                initMap(searchCenter);
                carousel();
            }).fail(function(res){

            })
        });
    });

</script>
