{% if houses is defined%}
    <p>{{houses|length}} hébergements trouvés</p>
    
    {% for id in page_ids %}
        <input type="hidden" class="page-id-input" name="ids[]" value="{{id}}" />
    {% endfor %}
    <input type="hidden" id="pg" name="page" value="{{page}}" />

    
    {% for house in houses %}
        <div class="row house-card" data-id="{{house.id}}" style="cursor:pointer;">
            <div class="col-3">
                {% if house.attachments is not empty %}
                    <div class="carousel">
                        {% for image in house.attachments %}
                                <img src="/images/houses/{{image.url}}" class="carousel-cell img-fluid" max-height="auto"/>
                        {% endfor %}
                    </div>
                {% else %}
                    <img src="/images/houses/default.jpg" class="img-fluid" max-height="auto"/>
                {% endif %}
            </div>
            <div class="col-6">
                <h3>{{house.name}}</h3>
                <p>{{house.description}}</p>
            </div>
            <div class="col-3">
                <p class="rating-comment" data-note="{{ house.note }}">Commentaire</p>
                <p>{{house.price}}</p>
                <a href="{{ path('app_house_show', {'id': house.id}) }}">Réserver</a>
            </div>

            <div class="for_map" data-id="{{house.id}}">
                <div class="price-pop">{{ house.price }}</div>
                <input type="hidden" class="pos" data-pos="lat" value="{{house.lat}}" />
                <input type="hidden" class="pos" data-pos="lng" value="{{house.lng}}" />
            </div>
        </div>
    {% endfor %}
    {{ knp_pagination_render(houses) }}
{% else %}
    <p>Aucun résultat trouvé</p>
{% endif %}

<script>
    $(document).ready(function(){
        $('.pagination span').click(function(e){
            e.preventDefault();
            e.stopPropagation();
            
            let page_ids = [];
            $('.page-id-input').each((i,obj) => {
                console.log($(obj));
                page_ids.push($(obj).val());
            });


            let page = $(this).find('a').html();

            const data = { ids: page_ids, page: page};

            const currentUrl = window.location.origin;

            $.ajax({
                url: currentUrl+'/search-render',
                data: data,
                method:'post'
            }).
            done(function(res){
                searchCenter=({lat: parseFloat($('#search_lat').val()) , lng: parseFloat($('#search_lng').val()) });
                $('#houses-list').html(res);
                initMap(searchCenter);
                carousel();
            }).fail(function(res){

            })
        });
    });

</script>
