{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-10 col-md-8 col-lg-6 mx-2">
        {{ form_start(resetPasswordForm) }} 
                <div class="form-group">
                    {{ form_label(resetPasswordForm.oldPassword,'Ancien mot de passe')}}
                    {% if alert_error_wrong_pwd is defined %}
                        {{ form_widget(resetPasswordForm.oldPassword, {'attr': {'class': 'form-control is-invalid'}})}}
                        <div class="invalid-feedback d-block">{{alert_error_wrong_pwd}}</div>
                    {% else %}
                        {{ form_widget(resetPasswordForm.oldPassword, {'attr': {'class': 'form-control'}})}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_label(resetPasswordForm.newPassword,'Nouveau mot de passe') }}
                    {{ form_errors(resetPasswordForm.newPassword)}}
                    {% if alert_error_no_match is defined %}
                        {{ form_widget(resetPasswordForm.newPassword, {'attr': {'class': 'form-control is-invalid'}})}}
                        <div class="invalid-feedback d-block">{{alert_error_no_match}}</div>
                    {% else %}
                        {{ form_widget(resetPasswordForm.newPassword, {'attr': {'class': 'form-control'}})}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_label(resetPasswordForm.confirmNewPassword,'Confirmer nouveau mot de passe')}}
                    {% if alert_error_no_match is defined %}
                        {{ form_widget(resetPasswordForm.confirmNewPassword, {'attr': {'class': 'form-control is-invalid'}})}}
                        <div class="invalid-feedback d-block">{{alert_error_no_match}}</div>
                    {% else %}
                        {{ form_widget(resetPasswordForm.confirmNewPassword, {'attr': {'class': 'form-control'}})}}
                    {% endif %}
                    {{ form_errors(resetPasswordForm.confirmNewPassword)}}
                </div>
                <div class="text-center">
                <button class="btn">{{ button_label|default('Save') }}</button>
                </div>
        {{ form_end(resetPasswordForm) }}
    </div>
{% endblock %}